In [ ]:
#Business problem statement + Data Merging
1. Inpatient + Outpatient = final_patient
2. final_patient + train = fp_v1
3. fp_v1 + beneficiary data = final data

In [ ]:
# data merging
# EDA (Missing values, graphs, plots)
# Outlier treatments, Imputations
# Feature engineering
# Model Building
# Model Training 
# Model Evaluation

In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [3]:
inpatient_data = pd.read_csv('Train_Inpatientdata.csv')
train = pd.read_csv('Train.csv')
ben_data = pd.read_csv('Train_Beneficiarydata.csv')

In [4]:
outpatient_data = pd.read_csv('Train_Outpatientdata.csv')

In [5]:
inpatient_data.describe()

,InscClaimAmtReimbursed,DeductibleAmtPaid,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
count,40474.000000,39575.0,23148.000000,5454.000000,965.000000,116.000000,9.000000,0.0
mean,10087.884074,1068.0,5894.611759,4103.738174,4226.355440,4070.172414,5269.444444,NaN
std,10303.099402,0.0,3049.304400,2028.182156,2282.761581,1994.409802,2780.071632,NaN
min,0.000000,1068.0,11.000000,42.000000,42.000000,42.000000,2724.000000,NaN
25%,4000.000000,1068.0,3848.000000,2724.000000,2724.000000,2758.750000,4139.000000,NaN
50%,7000.000000,1068.0,5369.000000,4019.000000,4019.000000,4019.000000,4139.000000,NaN
75%,12000.000000,1068.0,8666.250000,4439.000000,5185.000000,4439.000000,5185.000000,NaN
max,125000.000000,1068.0,9999.000000,9999.000000,9999.000000,9986.000000,9982.000000,NaN

In [6]:
inpatient_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40474 entries, 0 to 40473
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   BeneID                  40474 non-null  object
 1   ClaimID                 40474 non-null  object
 2   ClaimStartDt            40474 non-null  object
 3   ClaimEndDt              40474 non-null  object
 4   Provider                40474 non-null  object
 5   InscClaimAmtReimbursed  40474 non-null  int64
 6   AttendingPhysician      40362 non-null  object
 7   OperatingPhysician      23830 non-null  object
 8   OtherPhysician          4690 non-null   object
 9   AdmissionDt             40474 non-null  object
 10  ClmAdmitDiagnosisCode   40474 non-null  object
 11  DeductibleAmtPaid       39575 non-null  float64
 12  DischargeDt             40474 non-null  object
 13  DiagnosisGroupCode      40474 non-null  object
 14  ClmDiagnosisCode_1      40474 non-null  object
 15  ClmDiagnosisCode_2      40248 non-null  object
 16  ClmDiagnosisCode_3      39798 non-null  object
 17  ClmDiagnosisCode_4      38940 non-null  object
 18  ClmDiagnosisCode_5      37580 non-null  object
 19  ClmDiagnosisCode_6      35636 non-null  object
 20  ClmDiagnosisCode_7      33216 non-null  object
 21  ClmDiagnosisCode_8      30532 non-null  object
 22  ClmDiagnosisCode_9      26977 non-null  object
 23  ClmDiagnosisCode_10     3927 non-null   object
 24  ClmProcedureCode_1      23148 non-null  float64
 25  ClmProcedureCode_2      5454 non-null   float64
 26  ClmProcedureCode_3      965 non-null    float64
 27  ClmProcedureCode_4      116 non-null    float64
 28  ClmProcedureCode_5      9 non-null      float64
 29  ClmProcedureCode_6      0 non-null      float64
dtypes: float64(7), int64(1), object(22)
memory usage: 9.3+ MB

In [ ]:
40000, 
0 non-null in a column
no of null = no of rows - no of non null
          = 40000 - 0 = 40000

In [7]:
inpatient_data.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [8]:
outpatient_data.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947

In [10]:
outpatient_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517737 entries, 0 to 517736
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BeneID                  517737 non-null  object
 1   ClaimID                 517737 non-null  object
 2   ClaimStartDt            517737 non-null  object
 3   ClaimEndDt              517737 non-null  object
 4   Provider                517737 non-null  object
 5   InscClaimAmtReimbursed  517737 non-null  int64
 6   AttendingPhysician      516341 non-null  object
 7   OperatingPhysician      90617 non-null   object
 8   OtherPhysician          195046 non-null  object
 9   ClmDiagnosisCode_1      507284 non-null  object
 10  ClmDiagnosisCode_2      322357 non-null  object
 11  ClmDiagnosisCode_3      203257 non-null  object
 12  ClmDiagnosisCode_4      125596 non-null  object
 13  ClmDiagnosisCode_5      74344 non-null   object
 14  ClmDiagnosisCode_6      48756 non-null   object
 15  ClmDiagnosisCode_7      32961 non-null   object
 16  ClmDiagnosisCode_8      22912 non-null   object
 17  ClmDiagnosisCode_9      14838 non-null   object
 18  ClmDiagnosisCode_10     1083 non-null    object
 19  ClmProcedureCode_1      162 non-null     float64
 20  ClmProcedureCode_2      36 non-null      float64
 21  ClmProcedureCode_3      4 non-null       float64
 22  ClmProcedureCode_4      2 non-null       float64
 23  ClmProcedureCode_5      0 non-null       float64
 24  ClmProcedureCode_6      0 non-null       float64
 25  DeductibleAmtPaid       517737 non-null  int64
 26  ClmAdmitDiagnosisCode   105425 non-null  object
dtypes: float64(6), int64(2), object(19)
memory usage: 106.7+ MB

In [11]:
train.head()

   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes
2  PRV51004             No
3  PRV51005            Yes
4  PRV51007             No

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5410 entries, 0 to 5409
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Provider        5410 non-null   object
 1   PotentialFraud  5410 non-null   object
dtypes: object(2)
memory usage: 84.7+ KB

In [13]:
ben_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138556 entries, 0 to 138555
Data columns (total 25 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   BeneID                           138556 non-null  object
 1   DOB                              138556 non-null  object
 2   DOD                              1421 non-null    object
 3   Gender                           138556 non-null  int64
 4   Race                             138556 non-null  int64
 5   RenalDiseaseIndicator            138556 non-null  object
 6   State                            138556 non-null  int64
 7   County                           138556 non-null  int64
 8   NoOfMonths_PartACov              138556 non-null  int64
 9   NoOfMonths_PartBCov              138556 non-null  int64
 10  ChronicCond_Alzheimer            138556 non-null  int64
 11  ChronicCond_Heartfailure         138556 non-null  int64
 12  ChronicCond_KidneyDisease        138556 non-null  int64
 13  ChronicCond_Cancer               138556 non-null  int64
 14  ChronicCond_ObstrPulmonary       138556 non-null  int64
 15  ChronicCond_Depression           138556 non-null  int64
 16  ChronicCond_Diabetes             138556 non-null  int64
 17  ChronicCond_IschemicHeart        138556 non-null  int64
 18  ChronicCond_Osteoporasis         138556 non-null  int64
 19  ChronicCond_rheumatoidarthritis  138556 non-null  int64
 20  ChronicCond_stroke               138556 non-null  int64
 21  IPAnnualReimbursementAmt         138556 non-null  int64
 22  IPAnnualDeductibleAmt            138556 non-null  int64
 23  OPAnnualReimbursementAmt         138556 non-null  int64
 24  OPAnnualDeductibleAmt            138556 non-null  int64
dtypes: int64(21), object(4)
memory usage: 26.4+ MB

In [14]:
ben_data.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

In [ ]:
final_patient_data = pd.merge(inpatient_data, outpatient_data, )

In [23]:
len(inpatient_data.columns.tolist())

30

In [22]:
len(outpatient_data.columns.tolist())

27

In [21]:
len([col_name for col_name in outpatient_data.columns.tolist() if col_name in inpatient_data.columns.tolist()])

27

In [45]:
final_patient = pd.merge(inpatient_data, outpatient_data, 
left_on = [col for col in outpatient_data.columns if col in inpatient_data.columns],
right_on = [col for col in outpatient_data.columns if col in inpatient_data.columns]
, how = 'outer') #inner join, outer join(NA)

In [28]:
outpatient_data.shape

(517737, 27)

In [29]:
inpatient_data.shape

(40474, 30)

In [46]:
final_patient.shape

(558211, 30)

In [80]:
pd.set_option("display.max_columns", None)

In [81]:
final_patient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DischargeDt,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,7866,1068.0,2009-04-18,201,1970,4019,5853,7843,2768,71590,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,6186,1068.0,2009-09-02,750,6186,2948,56400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,29590,1068.0,2009-09-20,883,29623,30390,71690,34590,V1581,32723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,431,1068.0,2009-02-22,067,43491,2762,7843,32723,V1041,4254,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,78321,1068.0,2009-08-30,975,042,3051,34400,5856,42732,486,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [47]:
final_patient['BeneID'].nunique()

138556

In [48]:
ben_data['BeneID'].nunique()

138556

In [50]:
ben_data.shape

(138556, 25)

In [51]:
final_ben = pd.merge(final_patient, ben_data, on = 'BeneID', how = 'inner')

In [52]:
final_ben.shape

(558211, 54)

In [53]:
final_ben.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,1,1,1,2,1,1,36000,3204,60,70
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,1,1,1,2,1,1,36000,3204,60,70
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,1,1,2,2,1,1,5000,1068,250,320
4,BENE11011,CLM144521,2009-01-18,2009-01-18,PRV52314,50,PHY379398,NaN,NaN,NaN,...,1,1,2,2,1,1,5000,1068,250,320

In [54]:
train['Provider'].nunique()

5410

In [56]:
final_ben['Provider'].nunique()

5410

In [57]:
final_ben.shape

(558211, 54)

In [58]:
final_data = pd.merge(final_ben, train, on = 'Provider', how = 'outer')

In [59]:
final_data.shape

(558211, 55)

In [78]:
final_data.head().transpose()

,0,1,2,3,4
BeneID,BENE11001,BENE16973,BENE17521,BENE21718,BENE22934
ClaimID,CLM46614,CLM565430,CLM34721,CLM72336,CLM73394
ClaimStartDt,2009-04-12,2009-09-06,2009-01-20,2009-10-17,2009-10-25
ClaimEndDt,2009-04-18,2009-09-06,2009-02-01,2009-11-04,2009-10-29
Provider,PRV55912,PRV55912,PRV55912,PRV55912,PRV55912
InscClaimAmtReimbursed,26000,50,19000,17000,13000
AttendingPhysician,PHY390922,PHY365867,PHY349293,PHY334706,PHY390614
OperatingPhysician,NaN,PHY327147,PHY370861,PHY334706,PHY323689
OtherPhysician,NaN,NaN,PHY363291,NaN,PHY363291
AdmissionDt,2009-04-12,NaN,2009-01-20,2009-10-17,2009-10-25
ClmAdmitDiagnosisCode,7866,NaN,45340,V5789,71946
DeductibleAmtPaid,1068,0,1068,1068,1068
DischargeDt,2009-04-18,NaN,2009-02-01,2009-11-04,2009-10-29
DiagnosisGroupCode,201,NaN,987,941,506
ClmDiagnosisCode_1,1970,V7183,4240,V5789,71535
ClmDiagnosisCode_2,4019,53081,2639,4168,71960
ClmDiagnosisCode_3,5853,78959,2948,73313,4019
ClmDiagnosisCode_4,7843,4280,40390,7812,V1202
ClmDiagnosisCode_5,2768,E8788,45821,7993,4240
ClmDiagnosisCode_6,71590,78079,28489,78830,2449
ClmDiagnosisCode_7,2724,79902,5854,72273,2768
ClmDiagnosisCode_8,19889,25002,2753,43812,NaN
ClmDiagnosisCode_9,5849,71848,E9305,4019,NaN
ClmDiagnosisCode_10,NaN,NaN,NaN,NaN,NaN
ClmProcedureCode_1,NaN,NaN,7769,9338,8154
ClmProcedureCode_2,NaN,NaN,5849,NaN,NaN
ClmProcedureCode_3,NaN,NaN,NaN,NaN,NaN
ClmProcedureCode_4,NaN,NaN,NaN,NaN,NaN
ClmProcedureCode_5,NaN,NaN,NaN,NaN,NaN
ClmProcedureCode_6,NaN,NaN,NaN,NaN,NaN
DOB,1943-01-01,1932-05-01,1913-12-01,1922-10-01,1930-07-01
DOD,NaN,NaN,NaN,NaN,NaN
Gender,1,1,2,1,2
Race,1,1,1,1,1
RenalDiseaseIndicator,0,0,0,0,0
State,39,39,39,39,39
County,230,310,230,600,280
NoOfMonths_PartACov,12,12,12,12,12
NoOfMonths_PartBCov,12,12,12,12,12
ChronicCond_Alzheimer,1,1,1,2,2
ChronicCond_Heartfailure,2,1,1,2,1
ChronicCond_KidneyDisease,1,1,1,2,2
ChronicCond_Cancer,2,2,2,2,2
ChronicCond_ObstrPulmonary,2,2,1,2,1
ChronicCond_Depression,1,2,2,2,2
ChronicCond_Diabetes,1,2,2,2,1
ChronicCond_IschemicHeart,1,1,1,1,1
ChronicCond_Osteoporasis,2,2,2,1,1
ChronicCond_rheumatoidarthritis,1,2,2,2,1
ChronicCond_stroke,1,2,2,2,2
IPAnnualReimbursementAmt,36000,24000,19000,17000,27000
IPAnnualDeductibleAmt,3204,2136,1068,1068,2136
OPAnnualReimbursementAmt,60,450,100,1050,450
OPAnnualDeductibleAmt,70,200,20,540,160
PotentialFraud,Yes,Yes,Yes,Yes,Yes

In [ ]:
level binarizer

In [63]:
final_data['PotentialFraud'].value_counts()/len(final_data)*100

No     61.878931
Yes    38.121069
Name: PotentialFraud, dtype: float64

In [65]:
final_data['PotentialFraud'].value_counts(normalize = True)*100

No     61.878931
Yes    38.121069
Name: PotentialFraud, dtype: float64

In [66]:
for col in final_data.columns.tolist():
    print(final_data[col].value_counts())

BENE42721     29
BENE118316    29
BENE59303     29
BENE36330     28
BENE80977     28
              ..
BENE42162      1
BENE48938      1
BENE101641     1
BENE147133     1
BENE73784      1
Name: BeneID, Length: 138556, dtype: int64
CLM34301     1
CLM671891    1
CLM326576    1
CLM253077    1
CLM64044     1
            ..
CLM653309    1
CLM593607    1
CLM525409    1
CLM585385    1
CLM695831    1
Name: ClaimID, Length: 558211, dtype: int64
2009-01-31    1709
2009-03-03    1706
2009-03-21    1677
2009-03-08    1676
2009-04-04    1667
              ...
2008-11-29       2
2008-11-27       2
2008-12-06       1
2008-12-10       1
2008-12-03       1
Name: ClaimStartDt, Length: 398, dtype: int64
2009-03-03    1707
2009-02-11    1682
2009-05-01    1678
2009-03-08    1672
2009-03-21    1668
              ...
2009-12-20    1271
2009-12-21    1268
2009-12-29    1267
2009-12-22    1256
2008-12-28       1
Name: ClaimEndDt, Length: 366, dtype: int64
PRV51459    8240
PRV53797    4739
PRV51574    4444
PRV53918    3588
PRV54895    3436
            ...
PRV53999       1
PRV53369       1
PRV52494       1
PRV53511       1
PRV55134       1
Name: Provider, Length: 5410, dtype: int64
100      52960
10       42463
200      41634
60       40764
30       33920
         ...
8070         1
8300         1
2480         1
17100        1
10050        1
Name: InscClaimAmtReimbursed, Length: 438, dtype: int64
PHY330576    2534
PHY350277    1628
PHY412132    1321
PHY423534    1223
PHY314027    1200
             ...
PHY399420       1
PHY366997       1
PHY430485       1
PHY382823       1
PHY391955       1
Name: AttendingPhysician, Length: 82063, dtype: int64
PHY330576    424
PHY424897    293
PHY314027    256
PHY423534    250
PHY357120    249
            ...
PHY321269      1
PHY410594      1
PHY403517      1
PHY424511      1
PHY374775      1
Name: OperatingPhysician, Length: 35315, dtype: int64
PHY412132    1247
PHY341578    1098
PHY338032    1070
PHY337425    1041
PHY347064     806
             ...
PHY423105       1
PHY373697       1
PHY369192       1
PHY379115       1
PHY369347       1
Name: OtherPhysician, Length: 46457, dtype: int64
2009-02-10    144
2009-01-31    143
2009-02-26    143
2009-01-06    140
2009-02-02    138
             ...
2008-11-29      2
2008-12-10      1
2008-12-06      1
2008-12-03      1
2009-12-31      1
Name: AdmissionDt, Length: 398, dtype: int64
V7612    4074
42731    3634
78605    2992
4019     2732
25000    2368
         ...
65423       1
7209        1
2350        1
38872       1
37431       1
Name: ClmAdmitDiagnosisCode, Length: 4098, dtype: int64
0.0       496701
1068.0     39575
100.0       4582
70.0        2420
60.0        2065
40.0        2045
80.0        2024
50.0        1969
20.0        1406
30.0        1336
90.0        1245
10.0        1203
200.0        734
897.0          2
876.0          2
865.0          2
886.0          1
Name: DeductibleAmtPaid, dtype: int64
2009-02-11    153
2009-01-10    147
2009-03-03    143
2009-04-11    141
2009-02-24    138
             ...
2009-12-23     82
2009-11-29     82
2009-10-19     79
2009-11-11     77
2009-12-25     75
Name: DischargeDt, Length: 365, dtype: int64
882    179
884    174
166    168
183    165
939    163
      ...
775      1
934      1
927      1
768      1
765      1
Name: DiagnosisGroupCode, Length: 736, dtype: int64
4019     13886
4011     12512
2724      3606
2720      3210
2722      3028
         ...
3024         1
80150        1
85102        1
0956         1
65180        1
Name: ClmDiagnosisCode_1, Length: 10450, dtype: int64
4019     22378
25000    11744
2724     11272
V5861     9716
V5869     9669
         ...
80605        1
8280         1
V673         1
1872         1
51901        1
Name: ClmDiagnosisCode_2, Length: 5300, dtype: int64
4019     14408
25000     7946
2724      7368
V5869     6069
V5861     4180
         ...
7136         1
99851        1
E9283        1
E9471        1
80505        1
Name: ClmDiagnosisCode_3, Length: 4756, dtype: int64
4019     9188
25000    5250
2724     4764
V5869    3367
2449     2523
         ...
E8502       1
2712        1
E8582       1
E9062       1
8700        1
Name: ClmDiagnosisCode_4, Length: 4359, dtype: int64
4019     6005
25000    3451
2724     2945
V5869    1921
2449     1647
         ...
5891        1
2779        1
2782        1
V705        1
29682       1
Name: ClmDiagnosisCode_5, Length: 3970, dtype: int64
4019     4170
25000    2506
2724     2072
42731    1312
53081    1248
         ...
7923        1
7080        1
71742       1
3550        1
64203       1
Name: ClmDiagnosisCode_6, Length: 3607, dtype: int64
4019     3014
25000    1822
2724     1536
42731    1026
53081    1002
         ...
V5901       1
30483       1
1537        1
1529        1
9713        1
Name: ClmDiagnosisCode_7, Length: 3388, dtype: int64
4019     2257
25000    1399
2724     1178
42731     809
4280      795
         ...
01190       1
2781        1
42099       1
1390        1
E8581       1
Name: ClmDiagnosisCode_8, Length: 3070, dtype: int64
4019     1581
25000    1100
2724      922
4280      665
42731     652
         ...
2531        1
37214       1
E8532       1
2558        1
33729       1
Name: ClmDiagnosisCode_9, Length: 2774, dtype: int64
4019     169
25000    125
2724     100
4280      88
53081     78
        ...
1479       1
V1079      1
7999       1
87320      1
56985      1
Name: ClmDiagnosisCode_10, Length: 1158, dtype: int64
9904.0    1152
8154.0    1022
66.0       900
3893.0     854
3995.0     809
          ...
5091.0       1
9972.0       1
9978.0       1
9992.0       1
4040.0       1
Name: ClmProcedureCode_1, Length: 1117, dtype: int64
4019.0    1736
2724.0     843
5849.0     291
311.0      152
2762.0     143
          ...
5111.0       1
4959.0       1
4871.0       1
4829.0       1
1175.0       1
Name: ClmProcedureCode_2, Length: 300, dtype: int64
4019.0    201
2724.0    192
5849.0     42
4439.0     29
9971.0     27
         ...
1509.0      1
400.0       1
1622.0      1
6822.0      1
4532.0      1
Name: ClmProcedureCode_3, Length: 154, dtype: int64
4019.0    18
2724.0    16
4439.0     7
4139.0     6
5849.0     6
3572.0     4
2762.0     4
4011.0     3
311.0      3
5185.0     3
496.0      2
4422.0     2
3320.0     2
9974.0     2
2763.0     2
5845.0     2
7804.0     2
42.0       2
7840.0     2
185.0      2
2761.0     1
3343.0     1
2752.0     1
2749.0     1
3844.0     1
3849.0     1
3962.0     1
3963.0     1
9986.0     1
7999.0     1
4104.0     1
4240.0     1
7851.0     1
7824.0     1
7823.0     1
7802.0     1
6822.0     1
412.0      1
1511.0     1
5789.0     1
5771.0     1
5121.0     1
5119.0     1
4660.0     1
1122.0     1
4414.0     1
4263.0     1
4269.0     1
Name: ClmProcedureCode_4, dtype: int64
4139.0    3
2724.0    2
5185.0    1
4422.0    1
9982.0    1
9971.0    1
Name: ClmProcedureCode_5, dtype: int64
Series([], Name: ClmProcedureCode_6, dtype: int64)
1943-12-01    2072
1939-03-01    2030
1942-10-01    1989
1939-04-01    1984
1938-09-01    1971
              ...
1980-05-01      28
1979-01-01      26
1983-02-01      24
1978-04-01      21
1983-03-01      20
Name: DOB, Length: 900, dtype: int64
2009-12-01    710
2009-10-01    572
2009-11-01    560
2009-09-01    511
2009-08-01    482
2009-07-01    371
2009-06-01    295
2009-05-01    243
2009-04-01    166
2009-03-01    157
2009-02-01     64
Name: DOD, dtype: int64
2    323114
1    235097
Name: Gender, dtype: int64
1    471036
2     55640
3     19715
5     11820
Name: Race, dtype: int64
0    448363
Y    109848
Name: RenalDiseaseIndicator, dtype: int64
5     51350
10    39073
33    35024
45    34022
14    24417
39    24251
23    21343
36    21291
34    18905
11    17003
31    15940
49    14997
44    14418
15    14213
22    13624
26    12911
50    11740
21    11261
42    10491
18    10322
1     10240
52     9792
3      9344
19     7917
24     7726
4      7571
16     7457
6      7200
37     6990
25     6682
7      5617
38     5518
17     4884
51     4644
54     4233
28     4168
20     3833
32     3456
46     3381
13     2765
30     2654
43     2002
27     1995
29     1978
47     1827
12     1706
8      1530
41     1110
53     1098
35      940
2       738
9       619
Name: State, dtype: int64
200    15957
10     13982
20     12632
470    12278
60     11995
       ...
944        2
742        2
834        1
521        1
804        1
Name: County, Length: 314, dtype: int64
12    554722
0       2971
6        116
8        100
11        81
4         55
7         44
10        34
5         30
3         16
2         16
9         13
1         13
Name: NoOfMonths_PartACov, dtype: int64
12    553918
0       1979
6        728
10       402
11       313
9        242
8        142
7        139
5        126
3         73
4         60
1         48
2         41
Name: NoOfMonths_PartBCov, dtype: int64
2    333884
1    224327
Name: ChronicCond_Alzheimer, dtype: int64

1    329583
2    228628
Name: ChronicCond_Heartfailure, dtype: int64
2    328227
1    229984
Name: ChronicCond_KidneyDisease, dtype: int64
2    473706
1     84505
Name: ChronicCond_Cancer, dtype: int64
2    383530
1    174681
Name: ChronicCond_ObstrPulmonary, dtype: int64
2    315497
1    242714
Name: ChronicCond_Depression, dtype: int64
1    393759
2    164452
Name: ChronicCond_Diabetes, dtype: int64
1    423830
2    134381
Name: ChronicCond_IschemicHeart, dtype: int64
2    380897
1    177314
Name: ChronicCond_Osteoporasis, dtype: int64
2    384512
1    173699
Name: ChronicCond_rheumatoidarthritis, dtype: int64
2    501430
1     56781
Name: ChronicCond_stroke, dtype: int64
0         371676
4000        9909
5000        8822
3000        8301
6000        7506
           ...
23500          1
57510          1
31050          1
2110           1
101120         1
Name: IPAnnualReimbursementAmt, Length: 3004, dtype: int64
0        369267
1068     125646
2136      40454
3204      11730
4272       3420
          ...
37204         3
10436         2
14068         2
9408          1
1118          1
Name: IPAnnualDeductibleAmt, Length: 147, dtype: int64
 100      5950
 200      5443
 0        4918
 300      4578
 400      4318
          ...
 14510       1
 32710       1
 9020        1
 24870       1
-40          1
Name: OPAnnualReimbursementAmt, Length: 2078, dtype: int64
0       20131
20      14295
100     11939
30      11195
10      11175
        ...
2108        2
9130        2
897         2
1197        2
3860        2
Name: OPAnnualDeductibleAmt, Length: 789, dtype: int64
No     345415
Yes    212796
Name: PotentialFraud, dtype: int64

In [77]:
final_data['ClmProcedureCode_6'].value_counts() #col 2 be removed

Series([], Name: ClmProcedureCode_6, dtype: int64)

In [ ]:
DATASET1
A 2
B 23

DATASET2
A 20
B 15
C 20

INNER JOIN
A 2
B 3

OUTER JOIN
A 20
B 15
C NA

In [ ]:
#JOINS (INNER, OUTER, LEFT, RIGHT)